@charset "UTF-8";

html{ background-image: url("i1.jpdeg");}

body {background:white;
background-size: cover;
position: absolute;
top: 50%;
left: 30%;
border: 15px solid #6d7890; 
transform: translate(-50%, -50%);
border-radius: 10px;}

.container{
	background-color: white;
	margin:10px;

	
}